body {
	background: #999;
	color: #222;
	font-family: Arial;
	padding: 0px;
	margin: 0;
	width: 100%;
	height: 100%;
}
.wrapper {
	padding: 20px;
}
a, a:visited, a:active {
	color: darkblue;
}

#github-note {display:none}
.demo.boxes {
	position: relative;
	left: -20px;
}
.box {
	background-image: url(../img/login-dialog-bg.png);
	color: black;
	margin: 10px;
}
.box.green {
	background-image: url(../img/dialog-bg-green.png);
}

.box.large {
	width: 400px;
	height: 400px;
}

.box.small {
	width: 250px;
	height: 250px;
}

.box.special {
	position: fixed!important;
	width: 350px;
	height: auto;
	bottom: 0px; 
	right: 20px; 
	z-index: 1
}
button {
	margin: 5px;
}
.ui-button-text {
	font-size: 12px!important;
}
.box .contents {
	padding: 25px;
}

h1:first-child, h2:first-child, h3:first-child {
	margin-top: 0px;
}
.outlines .scale9-slice {
	outline: 1px dashed red;
}
.outlines .scale9-slice.slice-fill {
	outline: 1px dotted grey;
}